form{
    width: 350px;
    padding: 3px;
}

form div{
    padding: 3px 5px 5px 3px;
}

label{
    display: block;
}

input[type='checkbox'] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}